@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid blue;
}
ul li,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
body {
    font-family: "League Spartan", sans-serif;
}
.container {
    width: 100%;
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
header {
    .nav {
        padding: 56px 0;
        display: flex;
        align-items: center;
        column-gap: 95px;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 56px;
            li {
                color: #7d828f;
                font-family: "League Spartan";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                &:hover {
                    color: #1b1d23;
                }
            }
        }
    }
    .wrapper {
        background-image: url(../img-first-page/promo-background.png);
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 720px;
        .promo {
            display: flex;
            flex-direction: column;
            padding-left: 190px;
            padding-top: 186px;
            h1 {
                max-width: 544px;
                color: #fff;
                font-size: 96px;
                font-weight: 700;
                line-height: 80px;
                letter-spacing: -2px;
            }
            p {
                width: 445px;
                margin-top: 10px;
                margin-bottom: 41px;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }
            .btn {
                width: 252px;
                a {
                    display: flex;
                    align-items: center;
                    column-gap: 24px;
                    background: #1b1d23;
                    padding: 25px 32px 22px 37px;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(0.98);
                        background: #60636d;
                    }
                    button {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 25px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
            .cards {
                display: flex;
                align-items: center;
                transform: translate(-270px, 99px);
                .card {
                    cursor: pointer;
                    width: 80px;
                    height: 80px;
                    background: white;
                    padding: 28px 32px 27px 31px;
                    color: #7d828f;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px;
                }
                .first {
                    background: #1b1d23;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px;
                }
            }
        }
    }
}
.introduction {
    background-image: url(../img-first-page/introduction-background.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 100%;
    height: 568px;
    margin-top: 195px;
    .title {
        transform: translateY(-85px);
        h2 {
            color: #eeeff4;
            font-size: 250px;
            font-weight: 700;
            line-height: 200px;
            letter-spacing: -5px;
        }
        .welcome {
            transform: translate(189px, -39px);
            h2 {
                max-width: 446px;
                color: #1b1d23;
                font-size: 72px;
                font-weight: 700;
                line-height: 64px;
                letter-spacing: -2px;
            }
            p {
                max-width: 445px;
                margin-top: 43px;
                color: #60636d;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}
.small-team {
    margin-top: 200px;
    margin-bottom: 207px;
    background-image: url(../img-first-page/small-team-background.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
    .info {
        padding-top: 167px;
        padding-left: 190px;

        h4 {
            width: 445px;
            color: #fff;
            font-size: 72px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -2px;
            margin-bottom: 27px;
        }
        .btn {
            width: 252px;
            a {
                display: flex;
                align-items: center;
                column-gap: 24px;
                background: #1b1d23;
                padding: 25px 32px 22px 37px;
                transition: 0.5s;
                &:hover {
                    transform: scale(0.98);
                    background: #60636d;
                }
                button {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}
.about-featured {
    display: flex;
    column-gap: 495px;
    h4 {
        width: 446px;
        margin-bottom: 65px;
        color: #1b1d23;
        font-size: 72px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
    }
    .btn {
        width: 252px;
        a {
            display: flex;
            align-items: center;
            column-gap: 24px;
            background: #1b1d23;
            padding: 25px 32px 22px 37px;
            transition: 0.5s;
            &:hover {
                transform: scale(0.98);
                background: #60636d;
            }
            button {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    .about-first{
        display: block;
    }
    .about-first-tablet{
        display: none;
    }
    .about-first-mobile{
        display: none;
    }
    .about-sec{
        display: block;
    }
    .about-sec-tablet{
        display: none;
    }
    .about-sec-mobile{
        display: none;
    }
    .about-third{
        display: block;
    }
    .about-third-tablet{
        display: none;
    }
    .about-third-mobile{
        display: none;
    }
}
