@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

header .nav {
  padding: 56px 0;
  display: flex;
  align-items: center;
  column-gap: 95px;
}
header .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 56px;
}
header .nav ul li {
  color: #7d828f;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
header .nav ul li:hover {
  color: #1b1d23;
}
header .nav .menu {
  display: none;
}
header .wrapper {
  background-image: url(../img-first-page/promo-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
}
header .wrapper .promo {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  padding-left: 197px;
}
header .wrapper .promo h1 {
  max-width: 544px;
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
}
header .wrapper .promo p {
  max-width: 445px;
  margin-top: 10px;
  margin-bottom: 41px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
header .wrapper .promo .btn {
  width: 252px;
}
header .wrapper .promo .btn a {
  display: flex;
  align-items: center;
  column-gap: 24px;
  background: #1b1d23;
  padding: 25px 32px 22px 37px;
  transition: 0.5s;
}
header .wrapper .promo .btn a:hover {
  transform: scale(0.98);
  background: #60636d;
}
header .wrapper .promo .btn a button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .wrapper .promo .cards {
  display: flex;
  align-items: center;
  transform: translate(-435px, 105px);
}
header .wrapper .promo .cards .card {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: white;
  padding: 28px 32px 27px 31px;
  color: #7d828f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
header .wrapper .promo .cards .first {
  background: #1b1d23;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.introduction {
  background-image: url(../img-first-page/introduction-background.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  height: 568px;
  margin-top: 195px;
}
.introduction .title {
  transform: translateY(-85px);
}
.introduction .title h2 {
  color: #eeeff4;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
}
.introduction .title .welcome {
  transform: translate(189px, -39px);
}
.introduction .title .welcome h2 {
  max-width: 446px;
  color: #1b1d23;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.introduction .title .welcome p {
  max-width: 445px;
  margin-top: 43px;
  color: #60636d;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.small-team {
  margin-top: 200px;
  margin-bottom: 207px;
  background-image: url(../img-first-page/small-team-background.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 560px;
}
.small-team .info {
  padding-top: 167px;
  padding-left: 190px;
}
.small-team .info h4 {
  width: 445px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 27px;
}
.small-team .info .btn {
  width: 252px;
}
.small-team .info .btn a {
  display: flex;
  align-items: center;
  column-gap: 24px;
  background: #1b1d23;
  padding: 25px 32px 22px 37px;
  transition: 0.5s;
}
.small-team .info .btn a:hover {
  transform: scale(0.98);
  background: #60636d;
}
.small-team .info .btn a button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.about-featured {
  display: flex;
  align-items: center;
  column-gap: 495px;
  margin-bottom: 65px;
}
.about-featured h4 {
  width: 446px;
  color: #1b1d23;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.about-featured .btn {
  width: 252px;
}
.about-featured .btn a {
  display: flex;
  align-items: center;
  column-gap: 24px;
  background: #1b1d23;
  padding: 25px 32px 22px 37px;
  transition: 0.5s;
}
.about-featured .btn a:hover {
  transform: scale(0.98);
  background: #60636d;
}
.about-featured .btn a button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 200px;
}
.about .about-desktop {
  position: relative;
}
.about .about-desktop .some-text h4 {
  position: absolute;
  top: 50px;
  right: 0;
  font-weight: 700;
  font-size: 250px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: right;
  color: #fff;
  opacity: 0.5;
}
.about .about-desktop .some-text h5 {
  position: absolute;
  top: 250px;
  left: 25px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
  margin-top: 200px;
}
.about .about-desktop .some-text p {
  position: absolute;
  top: 500px;
  left: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
.about .about-tablet {
  display: none;
}
.about .about-mobile {
  display: none;
}
.about .btn {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: #1b1d23;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 36px;
}
.footer ul li {
  color: #7d828f;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.footer ul li:hover {
  color: #1b1d23;
}
.footer .btn {
  width: 252px;
}
.footer .btn a {
  display: flex;
  align-items: center;
  column-gap: 24px;
  background: #1b1d23;
  padding: 25px 32px 22px 37px;
  transition: 0.5s;
}
.footer .btn a:hover {
  transform: scale(0.98);
  background: #60636d;
}
.footer .btn a button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1300px) {
  header .wrapper .promo .cards {
    display: none;
  }
}
@media (max-width: 1050px) {
  .container {
    max-width: 1050px;
  }
  header .nav {
    display: flex;
    padding: 36px 0;
    column-gap: 95px;
  }
  header .wrapper {
    background-image: url(../img-first-page/promo-background-tablet.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
  }
  header .wrapper .promo {
    padding-top: 180px;
    padding-left: 100px;
  }
  header .wrapper .promo h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 83%;
    letter-spacing: -0.02em;
    color: #fff;
  }
  header .wrapper .promo .cards {
    display: none;
  }
  .introduction {
    display: flex;
    background-image: none;
    margin: 0;
  }
  .introduction .title {
    margin-top: 50px;
    transform: none;
  }
  .introduction .title h2 {
    font-weight: 700;
    font-size: 120px;
    line-height: 167%;
    letter-spacing: -0.03em;
    color: #eeeff4;
  }
  .introduction .title .welcome {
    transform: translateY(-39px);
  }
  .small-team {
    display: flex;
    margin-top: 200px;
    margin-bottom: 207px;
    background-image: url(../img-first-page/small-team-background-tablet.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
  }
  .small-team .info {
    padding-top: 167px;
    padding-left: 90px;
  }
  .about-featured {
    display: flex;
    align-items: center;
    column-gap: 0;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    row-gap: 30px;
    margin-bottom: 100px;
  }
  .about .about-desktop {
    display: none;
  }
  .about .about-tablet {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: relative;
  }
  .about .about-tablet h4 {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 250px;
    line-height: 80%;
    letter-spacing: -0.02em;
    text-align: right;
    color: #fff;
    opacity: 0.5;
  }
  .about .about-tablet .some-text {
    position: absolute;
    bottom: 20px;
    left: 30px;
  }
  .about .about-tablet .some-text h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #fff;
    margin-top: 200px;
  }
  .about .about-tablet .some-text p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }
  .about .about-mobile {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #1b1d23;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 700px;
  }
  header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 200px;
    padding-left: 40px;
  }
  header .nav ul {
    display: none;
  }
  header .nav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  }
  header .nav .menu div {
    width: 24px;
    height: 3px;
    background-color: #1b1d23;
  }
  header .wrapper {
    margin: 0 100px;
    background-image: url(../img-first-page/promo-background-mobile.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 560px;
  }
  header .wrapper .promo {
    padding-top: 190px;
    padding-left: 30px;
  }
  header .wrapper .promo h1 {
    width: 257px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #fff;
  }
  header .wrapper .promo p {
    width: 311px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }
  .introduction {
    display: flex;
    margin: 0 100px;
  }
  .introduction .title {
    max-width: 311px;
  }
  .introduction .title h2 {
    display: none;
  }
  .introduction .title .welcome {
    margin-top: 50px;
  }
  .introduction .title .welcome h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.04em;
    color: #1b1d23;
  }
  .small-team {
    margin: 100px;
    background-image: url(../img-first-page/small-team-background-mobile.png);
    width: 100%;
    height: 560px;
  }
  .small-team .info {
    padding-top: 180px;
    padding-left: 20px;
  }
  .small-team .info h4 {
    width: 311px;
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.04em;
    color: #fff;
  }
  .about-featured h4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-featured .btn {
    display: none;
  }
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .about .about-desktop {
    display: none;
  }
  .about .about-tablet {
    display: none;
  }
  .about .about-mobile {
    display: block;
    position: relative;
  }
  .about .about-mobile .some-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .about .about-mobile .some-text h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #fff;
    margin-top: 200px;
  }
  .about .about-mobile .some-text p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }
  .about .btn {
    width: 252px;
  }
  .about .btn a {
    display: flex;
    align-items: center;
    column-gap: 24px;
    background: #1b1d23;
    padding: 25px 32px 22px 37px;
    transition: 0.5s;
  }
  .about .btn a:hover {
    transform: scale(0.97);
    background: #60636d;
  }
  .about .btn a button {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */