@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

header .nav {
  padding: 56px 0;
  display: flex;
  align-items: center;
  column-gap: 95px;
}
header .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 56px;
}
header .nav ul li {
  color: #7d828f;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
header .nav ul li:hover {
  color: #1b1d23;
}
header .wrapper {
  background-image: url(../img-first-page/promo-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
}
header .wrapper .promo {
  display: flex;
  flex-direction: column;
  padding-left: 190px;
  padding-top: 186px;
}
header .wrapper .promo h1 {
  max-width: 544px;
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
}
header .wrapper .promo p {
  width: 445px;
  margin-top: 10px;
  margin-bottom: 41px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
header .wrapper .promo .btn {
  width: 252px;
}
header .wrapper .promo .btn a {
  display: flex;
  align-items: center;
  column-gap: 24px;
  background: #1b1d23;
  padding: 25px 32px 22px 37px;
  transition: 0.5s;
}
header .wrapper .promo .btn a:hover {
  transform: scale(0.98);
  background: #60636d;
}
header .wrapper .promo .btn a button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .wrapper .promo .cards {
  display: flex;
  align-items: center;
  transform: translate(-270px, 99px);
}
header .wrapper .promo .cards .card {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: white;
  padding: 28px 32px 27px 31px;
  color: #7d828f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
header .wrapper .promo .cards .first {
  background: #1b1d23;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.introduction {
  background-image: url(../img-first-page/introduction-background.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  height: 568px;
  margin-top: 195px;
}
.introduction .title {
  transform: translateY(-85px);
}
.introduction .title h2 {
  color: #eeeff4;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
}
.introduction .title .welcome {
  transform: translate(189px, -39px);
}
.introduction .title .welcome h2 {
  max-width: 446px;
  color: #1b1d23;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.introduction .title .welcome p {
  max-width: 445px;
  margin-top: 43px;
  color: #60636d;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */